In [359]:
import pandas as pd
import numpy as np
import glob
import cricket

In [457]:
reload(cricket)

all_games = {}
all_players = {}

for file_name in glob.glob('IPL/*.yaml'):
    match_id = file_name.strip('IPL/').strip('.yaml')
    # print ('reading in match id {:s}'.format(match_id))
    curr_match = all_games[match_id] = cricket.read_match(match_id)

    for player in curr_match.players():
        if player not in all_players.keys():
            all_players[player] = cricket.Player(player) 
        all_players[player].games.append(curr_match)
print ('done')

done

# Bowling Stats

In [458]:
curr_match[1].bowl_scorecard()

          Bowler  Overs  Runs  Wickets
0      S Aravind    4.0    30        2
1       CH Gayle    3.0    24        0
2      SR Watson    4.0    61        1
3      YS Chahal    4.0    36        1
4  Iqbal Abdulla    1.0    10        0
5      CJ Jordan    4.0    47        3

In [460]:
bowl_cols = ['Bowler', 'Balls', 'Runs', 'Wickets']
bowl_rankings = []
for k, v in all_players.items():
    player_total = sum(np.asarray(v.bowl_fig))
    if isinstance(player_total, np.ndarray):
        bowl_rankings.append([k] + [t for t in player_total])

pd_bowl = pd.DataFrame(bowl_rankings, columns=bowl_cols)
pd_bowl['SR'] = pd_bowl['Balls'] / pd_bowl['Wickets']
pd_bowl['Average'] = pd_bowl['Runs'] / pd_bowl['Wickets']
pd_bowl['Economy'] = (pd_bowl['Runs'] / pd_bowl['Balls']) * 6
pd_bowl.sort_values('Wickets', ascending=False).head(10)

              Bowler  Balls  Runs  Wickets         SR    Average   Economy
37        SL Malinga   2303  2646      159  14.484277  16.641509  6.893617
97          DJ Bravo   2022  2815      137  14.759124  20.547445  8.353116
47          A Mishra   2426  2960      132  18.378788  22.424242  7.320692
316  Harbhajan Singh   2676  3184      128  20.906250  24.875000  7.139013
152        PP Chawla   2444  3136      127  19.244094  24.692913  7.698854
171    R Vinay Kumar   2090  2927      123  16.991870  23.796748  8.402871
315          A Nehra   1784  2337      111  16.072072  21.054054  7.859865
128         R Ashwin   2292  2552      110  20.836364  23.200000  6.680628
122           Z Khan   1961  2537      107  18.327103  23.710280  7.762366
104         RP Singh   1788  2417      100  17.880000  24.170000  8.110738

# Batting Stats

In [445]:
curr_match[1].bat_scorecard()

,Batsman,Runs,Balls Faced,Out,Dots,Fours,Sixes,Strike_Rate,Pac Man
0,SC Ganguly,10,12,1,6.0,2.0,0.0,83.333333,50.000000
1,BB McCullum,158,77,0,17.0,10.0,13.0,205.194805,22.077922
2,RT Ponting,20,20,1,8.0,2.0,1.0,100.000000,40.000000
3,DJ Hussey,12,12,1,4.0,1.0,0.0,100.000000,33.333333
4,Mohammad Hafeez,5,3,0,1.0,1.0,0.0,166.666667,33.333333
5,Extras,17,0,0,NaN,NaN,NaN,inf,NaN
6,Total,222,124,3,NaN,NaN,NaN,179.032258,NaN

In [439]:
bat_cols = ['Player', 'Runs', 'Balls Faced', 'Times_out', 'Dots', 'Fours', 'Sixes']
bat_rankings = []
for k, v in all_players.items():
    player_total = sum(np.asarray(v.bat_fig))
    if isinstance(player_total, np.ndarray):
        bat_rankings.append([k] + [t for t in player_total])

pd_bat = pd.DataFrame(bat_rankings, columns=bat_cols)
pd_bat['SR'] = (pd_bat['Runs'] / pd_bat['Balls Faced']) * 100
pd_bat['Average'] = pd_bat['Runs'] / pd_bat['Times_out']
pd_bat['Pac Man'] = pd_bat['Dots'] / pd_bat['Balls Faced']

pd_bat.sort_values('Runs', ascending=False).head(10)

In [437]:
all_players['AB de Villiers'].bat_score_above(100)

3

In [438]:
all_players['AB de Villiers'].bat_score

[26,
 21,
 0,
 20,
 7,
 21,
 105,
 21,
 50,
 5,
 0,
 50,
 40,
 44,
 11,
 79,
 28,
 6,
 26,
 7,
 15,
 11,
 2,
 27,
 45,
 4,
 54,
 38,
 0,
 65,
 5,
 26,
 27,
 13,
 34,
 0,
 11,
 21,
 18,
 64,
 10,
 4,
 6,
 33,
 52,
 59,
 0,
 17,
 47,
 9,
 14,
 4,
 22,
 64,
 39,
 7,
 31,
 2,
 21,
 50,
 6,
 15,
 32,
 28,
 38,
 5,
 45,
 11,
 0,
 17,
 89,
 9,
 53,
 58,
 33,
 28,
 29,
 13,
 10,
 28,
 46,
 41,
 14,
 47,
 57,
 2,
 21,
 47,
 133,
 10,
 0,
 66,
 1,
 82,
 55,
 29,
 83,
 20,
 47,
 4,
 1,
 64,
 24,
 129,
 59,
 0,
 6,
 79,
 5]